#hostedCont {
  height: calc(100% - 52px);
}

#hostEventDiv {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

#hostBtn,
#confirmHostingBtn {
  background-color: #e83151;
  border-color: #e83151;
  font-size: 1.2rem;
}

#closeModalBtn {
  font-size: 1.2rem;
}

#listHostedEventsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hostedEvents {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.eventCards {
  width: 20rem;
  box-shadow: 0px 5px 5px #ccc;
  border-radius: 5px;
  border-top: 1px solid #e9e9e9;
  padding: 1rem;
  margin: 1rem;
}

.cardText {
  font-size: 0.9rem;
  color: darkgrey;
  font-weight: bold;
}

.cardTitle {
  font-size: 2rem;
  font-weight: bold;
}
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 6px 12px;
}

.HostedEventBtn {
  background-color: #e83151;
  border-color: #e83151;
  font-size: 0.7rem;
}

.HostedEventBtn:hover,
.HostedEventBtn:active,
.HostedEventBtn:focus {
  background-color: #e83151;
  border-color: #e83151;
  font-size: 0.7rem;
  font-weight: bold;
}

.hostEventInnerDivs {
  width: 30%;
  margin: 1rem;
}
