#logo_img {
  position: fixed;
  top: -67px;
}

#nav_container {
  height: 52px;
  background: #595f72 !important;
}

.dropdown-menu {
  left: auto;
  right: 0;
}

#basic-nav-dropdown {
  color: white;
  font-size: 1.5rem;
}

#basic-nav-dropdown:hover,
#basic-nav-dropdown:active {
  font-weight: bold;
}
