#homeCont {
  height: calc(100% - 52px);
}

#allEvents {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bookEvent {
  background-color: #e83151;
  border-color: #e83151;
  font-size: 1.2rem;
}
